In [1]:
import pandas as pd 
import numpy as np

In [5]:
# Load the original df
ODF = pd.read_csv('DiagVsLOSRange.csv', index_col=None)

In [26]:
ODF.columns[1:17]

Index(['LosRange', 'EntitySys', 'TotalLos', 'NumAdmissions', 'IsReadmit',
       'Gender', 'Ethinicity', 'Religion', 'MaritalStatus',
       'DiagnosisCategory', 'PrimaryDiag', 'DiagGroup', 'DiagDesc', 'C7800',
       'I4820', 'R339'],
      dtype='object')

In [23]:
CatCounts = ODF.groupby(by='DiagnosisCategory')[['EntitySys']].count()
GenderCounts = ODF.groupby(by='Gender')[['EntitySys']].count()
MaritalStatusCounts = ODF.groupby(by='MaritalStatus')[['EntitySys']].count()

print(MaritalStatusCounts)

               EntitySys
MaritalStatus
Divorced             512
Married             1857
Other                  7
Separated             20
Single               274
Unknown               81
Widow(er)           3401

In [27]:
print(GenderCounts)

        EntitySys
Gender
Female       3973
Male         2315

In [30]:
ODF.groupby(by='LosRange')[['EntitySys']].count()

           EntitySys
LosRange
0:<7            1536
1:8-14           765
2:15-30          845
3:31-60          834
4:61-120         804
5:121-180        403
6:180+          1101

In [32]:
df = ODF.groupby(by=['LosRange','MaritalStatus'])

In [35]:
df.count()['EntitySys']

LosRange   MaritalStatus
0:<7       Divorced         129
           Married          504
           Separated          7
           Single            72
           Unknown           17
           Widow(er)        779
1:8-14     Divorced          69
           Married          253
           Separated          4
           Single            40
           Unknown            7
           Widow(er)        383
2:15-30    Divorced          65
           Married          276
           Other              2
           Separated          5
           Single            37
           Unknown           10
           Widow(er)        434
3:31-60    Divorced          69
           Married          241
           Separated          2
           Single            36
           Unknown           11
           Widow(er)        461
4:61-120   Divorced          66
           Married          220
           Other              1
           Single            38
           Unknown           10
           Widow(er)        449
5:121-180  Divorced          24
           Married           99
           Other              1
           Separated          1
           Single            16
           Unknown            8
           Widow(er)        245
6:180+     Divorced          90
           Married          264
           Other              3
           Separated          1
           Single            35
           Unknown           18
           Widow(er)        650
Name: EntitySys, dtype: int64