In [1]:
import pandas as pd

In [5]:
pd.read_csv('Clean_dataset_DiagVsLOS_v1.csv', index_col=None)

,Unnamed: 0,EntitySys,TotalLOS,LOS_Cat,143.1,15.88,151,153.5,153.9,154.1,...,Z96.89,Z97.8,Z98.2,Z98.3,Z98.49,Z98.61,Z99.11,Z99.2,Z99.3,Z99.81
0,0,9085,828,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,14565,22,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,14870,22,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,15491,26,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,21889,7,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6226,6226,26487,76,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6227,6227,26743,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6228,6228,26843,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6229,6229,27177,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6230,6230,27722,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0